<!-- <div class="flex gap-5 items-center uppercase bg-blue-400">
    <div class="h-[32px] w-[32px]">
        <div class="rounded-full h-[32px] w-[32px] flex justify-center items-center border-[2px] border-white">
            <p class="text-lg lg:text-sm font-bold text-white">{{step}}</p>
        </div>
    </div>
    <div class="hidden lg:block">
        <p class="text-white font-[300] text-xs">STEP&nbsp;{{step}}</p>
        <h2 class="text-white font-bold text-sm">{{title}}</h2>
    </div>
</div> -->
