<div class="w-full">
    <!-- <h1 class="step-title">Persolnal info</h1>
    <p class="step-desc">Please provide your name, email address, and phone number.</p> -->
    <app-title-and-desc
        [title]="'Persolnal info'"
        [desc]="'Please provide your name, email address, and phone number.'">
    </app-title-and-desc>

    <div class="my-form mt-10">
        <label for="">Name</label>
        <input type="text" placeholder="e.g. Stephen King">
    </div>

    <div class="my-form mt-8">
        <label for="">Email Address</label>
        <input type="email" placeholder="e.g. stephenking@lorem.com">
    </div>

    <div class="my-form mt-8">
        <label for="">Phone number</label>
        <input type="text" placeholder="e.g. +1 234 567 890">
    </div>
</div>