	<div class="flex flex-col lg:flex-row w-full max-w-[940px] lg:bg-white lg:p-5 mx-auto lg:mt-20 lg:rounded-[14px] lg:shadow-lg lg:gap-5">
		<!-- steps: -->
		<div class="w-full lg:w-[33%]">
			<app-steps></app-steps>
		</div>
		<!-- forms: -->
		<div class=" lg:w-[67%] mt-[-80px] lg:mt-0 bg-white mx-5 lg:mx-0 rounded-lg shadow-lg lg:shadow-none">
			<app-forms></app-forms>
		</div>
	</div>

	 <!-- signature: -->
	 <div class="text-black w-full flex flex-col items-center text-xs mt-5 h-[200px]">
		<p>created by: 
			<a class="underline" href="https://vajk.netlify.app/" target="_blank">Vajk Turóczy</a>
		</p>
		<p>challange from:
			<a class="underline" href="https://www.frontendmentor.io/challenges/multistep-form-YVAnSdqQBJ" target="_blank">frontendmentor.io</a>
		</p>
	</div>

