<div class="w-full flex flex-col h-full">
    <div class="flex-grow">

        <app-title-and-desc
            [title]="'Finishing up'"
            [desc]="'Double-check everything looks OK before confirming.'">
        </app-title-and-desc>

        <div class="rounded-lg bg-[#F8F9FF] px-3 lg:px-6 py-5 mt-8">
            <div class="flex justify-between items-center">
                <div>
                    <h2 class="text-[16px] font-medium">{{selectedPlanName}}</h2>
                    <p (click)="navigateToPlans()" class="text-sm text-[#9699AA] underline cursor-pointer">Change</p>
                </div>
                <div>
                    <p class="font-bold text-my-blue">
                        +${{selectedPlanPrice}}/{{isMonthly ? 'mo' : 'yr'}}
                    </p>
                </div>
            </div>

            <!-- line: -->
            <div class="bg-[#979797] w-full h-[1px] my-5 opacity-20"></div>

            <div *ngIf="needOnlineServices" class="flex justify-between">
                <p class="text-sm text-my-grey">Online service</p>
                <p class="text-sm text-my-blue">
                    +${{onlineServicesPrice}}/{{isMonthly ? 'mo' : 'yr'}}
                </p>
            </div>
            <div *ngIf="needLargerStorage" class="flex justify-between mt-3">
                <p class="text-sm text-my-grey">Larger Storage</p>
                <p class="text-sm text-my-blue">
                    +${{largerStoragePrice}}/{{isMonthly ? 'mo' : 'yr'}}
                </p>
            </div>
            <div *ngIf="needCustomizableProfile" class="flex justify-between mt-3">
                <p class="text-sm text-my-grey">Customizable profile</p>
                <p class="text-sm text-my-blue">
                    +${{customProfilePrice}}/{{isMonthly ? 'mo' : 'yr'}}
                </p>
            </div>
        </div>

        <div class="flex justify-between mt-5 px-6">
            <p class="text-sm text-my-grey">Total (per {{isMonthly ? 'month' : 'year'}})</p>
            <p class="text-xl font-bold text-my-purple">+${{summary}}/{{isMonthly ? 'mo' : 'yr'}}</p>
        </div>
    </div>

   <!-- stepper buttons: -->
    <div class="hidden lg:flex justify-between">
        <button (click)="prev()" class="text-my-grey text-[16px] h-[48px] font-medium">Go Back</button>
        <button (click)="submit()" class="text-[16px] h-[48px] w-[124px] bg-my-purple text-white font-medium rounded-[8px]">Confirm</button>
    </div>
</div>


<!-- !stepper for mobile view: -->
<div class="fixed bottom-0 left-0 right-0 p-5 bg-white flex lg:hidden justify-between">
    <button (click)="prev()" class="text-my-grey text-[16px] h-[48px] font-medium">Go Back</button>
    <button (click)="submit()" class="text-[16px] h-[48px] w-[124px] bg-my-purple text-white font-medium rounded-[8px]">Confirm</button>
</div>