<div class="w-full">
    <!-- <h1 class="step-title">Finishing up</h1>
    <p class="step-desc">Double-check everything looks OK before confirming.</p> -->
    <app-title-and-desc
        [title]="'Finishing up'"
        [desc]="'Double-check everything looks OK before confirming.'">
    </app-title-and-desc>

    <div class="rounded-lg bg-[#F8F9FF] px-6 py-5 mt-8">
        <div class="flex justify-between items-center">
            <div>
                <h2 class="text-[16px] font-medium">cím</h2>
                <p class="text-sm text-[#9699AA]">desc</p>
            </div>
            <div>
                <p class="font-bold text-my-blue">9mondt</p>
            </div>
        </div>

        <!-- line: -->
        <div class="bg-[#979797] w-full h-[1px] my-5 opacity-20"></div>

        <div class="flex justify-between">
            <p class="text-sm text-my-grey">Online service</p>
            <p class="text-sm text-my-blue">+$1/mo</p>
        </div>
        <div class="flex justify-between mt-3">
            <p class="text-sm text-my-grey">Online service</p>
            <p class="text-sm text-my-blue">+$1/mo</p>
        </div>
    </div>

    <div class="flex justify-between mt-5 px-6">
        <p class="text-sm text-my-grey">Total (per month)</p>
        <p class="text-xl font-bold text-my-purple">+$12/mo</p>
    </div>
</div>